<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.CommunityMapper">
	
		<insert id="insert" statementType="CALLABLE" parameterType="map">
			CALL insert_community(
				#{community.channelId},
				#{community.imageUrl},
				#{community.comment},
				NOW()
			)
		</insert>
		
		<update id="update" parameterType="map">
			UPDATE community
			
			<set>
				<if test='!oldCommunity.imageUrl.equals(newCommunity.imageUrl)'>image_url = #{newCommunity.imageUrl}, </if>
				<if test='!oldCommunity.comment.equals(newCommunity.comment)'>`comment` = #{newCommunity.comment}, </if>
			</set>
			
			WHERE community_id = #{oldCommunity.communityId}
		</update>
		
		<delete id="delete">
		
			DELETE FROM community WHERE community_id = #{communityId}
		
		</delete>
		
		<select id="selectByChannel" resultType="communityDto">
		
			SELECT community_id as communityId, contents_id as contentsId, channel_id as channelId, `like`, hate,
				reply_count as replyCount, image_url as imageUrl, `comment`, `date` 
			FROM community NATURAL JOIN contents WHERE channel_id = #{channelId};
		
		</select>
		
		<select id="selectByCommunityId" resultType="communityDto">
		
			SELECT community_id as communityId, contents_id as contentsId, channel_id as channelId, `like`, hate,
				reply_count as replyCount, image_url as imageUrl, `comment`, `date` 
			FROM community NATURAL JOIN contents WHERE community_id = #{communityId};
		
		</select>
		
	</mapper>