<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.NestedReplyMapper">
	
		<insert id="insert" statementType="CALLABLE" parameterType="map">
			CALL insert_nested_reply(
				#{nestedReply.replyId},
				#{nestedReply.channelId},
				#{nestedReply.comment},
				#{nestedReply.attachedId},
				#{nestedReply.nestedReplyId, mode=OUT, jdbcType=INTEGER, javaType=int}
			)
		</insert>
		
		<update id="updateComment">
		
			UPDATE nested_reply SET `comment` = #{comment} WHERE nested_reply_id = #{nestedReplyId}
		
		</update>
		
		<update id="updateLike">
		
			UPDATE nested_reply SET 'like' = 'like' + #{value} WHERE nested_reply_id = #{nestedReplyId}
		
		</update>
		
		<update id="updateHate">
		
			UPDATE nested_reply SET hate = hate + #{value} WHERE nested_reply_id = #{nestedReplyId}
		
		</update>
		
		<select id="selectByReplyId" resultType="nestedReplyDto">
		
			SELECT nested_reply_id AS nestedReplyId, reply_id AS replyId, contents_id AS contentsId, channel_id AS channelId, 
			`comment`, `like`, hate, `date`, `name`, `profile` FROM nested_reply NATURAL JOIN contents
 			NATURAL JOIN CHANNEL WHERE reply_id = #{replyId};
		
		</select>
		
		<select id="selectByNestedReplyId" resultType="nestedReplyDto">
	
			SELECT nested_reply_id AS nestedReplyId, contents_id AS contentsId, reply_id AS replyId,
				channel_id AS channelId, `comment`, `like`, `hate`, `date`
			FROM nested_reply NATURAL JOIN contents WHERE nested_reply_id = #{nestedReplyId};
		
		</select>

	</mapper>