<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.NotificationMapper">
		
		<select id="select" resultType="notificationDto">
		
			SELECT user_id as userId, contents_id as contentsId FROM notification WHERE user_id = #{userId} AND contents_id = #{contentsId};
		
		</select>
		
		<delete id="delete">
		
			DELETE FROM notification WHERE user_id = #{userId} AND contents_id = #{contentsId}
		
		</delete>

	</mapper>