<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.PlaylistMapper">
	
		<insert id="insert" parameterType="map">
		
			INSERT INTO playlist(channel_id, name, public, thumbnail)
			VALUES(#{playlist.channelId}, #{playlist.name}, #{playlist.visible}, #{playlist.thumbnail})
		
		</insert>
		
		<insert id="insertItem" statementType="CALLABLE" parameterType="map">
		
			CALL insert_playlist_item(
				#{playlistItem.playlistId},
				#{playlistItem.videoId}
			)
			
		</insert>
		
		<delete id="delete" parameterType="map">
		
			DELETE FROM playlist WHERE playlist_id = #{playlist.playlistId} AND channel_id = #{playlist.channelId}
		
		</delete>
		
		<delete id="deleteItem" statementType="CALLABLE" parameterType="map">
		
			CALL delete_playlist_item(
				#{playlistItem.playlistId},
				#{playlistItem.videoId}
			)
		
		</delete>
		
		<select id="selectByChannelId" resultType="playlistDto">
		
			SELECT playlist_id as playlistId, channel_id as channelId, name, public as visible,
			video_count as videoCount, thumbnail FROM playlist WHERE channel_id = #{channelId}
		
		</select>
		
		<select id="selectByPlaylistId" resultType="playlistDto">
		
			SELECT * FROM playlist WHERE playlist_id = #{playlistId} 
		
		</select>
		
		<select id="selectPlaylistItem" resultType="playlistItemDto">
		
			SELECT playlist_id as playlistId, video_id as videoId FROM playlist_item WHERE playlist_id = #{playlistId} AND video_id = #{videoId}
		
		</select>
		
		<update id="update" parameterType="map">
		
			UPDATE playlist
			
			<set>
				<if test='!oldPlaylist.name.equals(newPlaylist.name)'>name = #{newPlaylist.name}, </if>
				<!--<if test='!oldPlaylist.visible.equals(newPlaylist.visible)'>public = #{newPlaylist.visible}, </if>-->
				<if test='oldPlaylist.visible != newPlaylist.visible'>public = #{newPlaylist.visible},</if>
				<if test='!oldPlaylist.thumbnail.equals(newPlaylist.thumbnail)'>thumbnail = #{newPlaylist.thumbnail}, </if>
			</set>
			
			WHERE playlist_id = #{oldPlaylist.playlistId}
		
		</update>
		
		<update id="updateVideoCount" parameterType="map">
		
			UPDATE playlist
			
			SET video_count = video_count + #{value}
			
			WHERE platlist_id = #{playlistId}
		
		</update>

	</mapper>