<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.RateMapper">
	
		<insert id="insert" statementType="CALLABLE" parameterType="map">
		
			CALL insert_rate(
				#{rate.contentsId, mode=IN, jdbcType=BIGINT, javaType=long},
				#{rate.channelId, mode=IN, jdbcType=INTEGER, javaType=int},
				#{rate.value, mode=IN, jdbcType=INTEGER, javaType=int},
				#{rate.result, mode=OUT, jdbcType=INTEGER, javaType=int}
			)
			
		</insert>

	</mapper>