<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.SubscribeMapper">
	
		<insert id="subscribe" statementType="CALLABLE" parameterType="map">
		
			CALL insert_subscriber(#{subscribers.channelId}, #{subscribers.subscriberId})
		
		</insert>
		
		<delete id="unSubscribe" statementType="CALLABLE" parameterType="map">
		
			CALL delete_subscriber(#{subscribers.channelId}, #{subscribers.subscriberId})
		
		</delete>
		
		<select id="select" resultType="subscribersDto" parameterType="map">
		
			SELECT channel_id as channelId, subscriber_id as subscriberId FROM subscribers WHERE channel_id = #{channelId}
			AND subscriber_id = #{subscriberId}
		
		</select>
		
	</mapper>