<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.UserMapper">
	
		<select id="selectByEmail" parameterType="string" resultType="userDto">
			SELECT * from user WHERE email = #{email}
		</select>
		
		<insert id="insert" parameterType="userDto" useGeneratedKeys="true" keyProperty="user.userId" keyColumn="user_id">
			INSERT INTO user(email, password, name, gender, birth, fcm_token, phone, address, reg_date)
			VALUES(
				#{user.email},
				#{user.password},
				#{user.name},
				#{user.gender},
				#{user.birth},
				#{user.fcmToken},
				#{user.phone},
				#{user.address},
				NOW()	
			)
		</insert>
		
		<update id="update" parameterType="map">
			UPDATE user 
			
			<set>
				<if test='!oldUser.name.equals(newUser.name)'>name = #{newUser.name}, </if>
				<if test='!oldUser.birth.equals(newUser.birth)'>birth = #{newUser.birth}, </if>
				<if test='oldUser.gender != newUser.gender'>gender = #{newUser.gender}, </if>
				<if test='!oldUser.address.equals(newUser.address)'>address = #{newUser.address}, </if>
				<if test='!oldUser.phone.equals(newUser.phone)'>phone = #{newUser.phone}, </if>
			</set>
			
			WHERE email = #{oldUser.email}
		</update>
		
		<update id="changePassword">
		
			UPDATE user SET password = #{newPassword} WHERE email = #{email}
		
		</update>
		
		<update id="updateRefreshToken">
		
			UPDATE user SET refresh_token = #{refreshToken} WHERE email = #{email}
		
		</update>
		
		<delete id="delete">
		
			DELETE FROM user WHERE user_id = #{userId}
		
		</delete>
		
	</mapper>