<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="Baetube_backEnd.mapper.VoteMapper">
	
		<insert id="insertVote" parameterType="map">
		
			INSERT INTO vote(community_id, title, `comment`)
			VALUES(
				#{vote.communityId},
				#{vote.title},
				#{vote.comment}
			)
		
		</insert>
		
		<insert id="insertVoteOption" parameterType="map">
		
			INSERT INTO vote_option(vote_id, `option`)
			VALUES(
				#{voteOption.voteId},
				#{voteOption.option}
			)
		
		</insert>
		
		<insert id="insertVoteOptionMulti" parameterType="java.util.List">
		
			INSERT INTO vote_option(vote_id, `option`)
			VALUES
				<foreach collection="voteOptionList" item="item" index="index" separator=",">
					(#{item.voteId}, #{item.option})
				</foreach>
		</insert>
		
		<update id="updateVote" parameterType="map">
		
			UPDATE vote
			
			<set>
				<if test='!oldVote.title.equals(newVote.title)'>title = #{newVote.title}, </if>
				<if test='!oldVote.comment.equals(newVote.comment)'>`comment` = #{newVote.comment}, </if>
			</set>
			
			WHERE vote_id = #{oldVote.voteId}
		
		</update>
		
		<update id="updateVoteOption" parameterType="map">
		
			UPDATE vote_option
			
			<set>
				<if test='!oldVoteOption.option.equals(newVoteOption.option)'>`option` = #{newVoteOption.option}, </if>
			</set>
			
			WHERE vote_id = #{oldVoteOption.voteId} AND vote_option_id = #{oldVoteOption.voteOptionId}
		
		</update>
		
		<update id="updateVoteOptionCount">
		
			UPDATE vote_option SET count = count + 1 where vote_id = #{vote.voteId} AND vote_option_id = #{vote.voteOptionId}
		
		</update>
		
		<delete id="deleteVote">
		
			DELETE FROM vote WHERE vote_id = #{voteId}
		
		</delete>
		
		<delete id="deleteVoteOption">
		
			DELETE FROM vote_option WHERE vote_id = #{vote.voteId} AND vote_option_id = #{vote.voteOptionId}
		
		</delete>
		
		<delete id="deleteVoteOptionMulti" parameterType="java.util.List">
		
			DELETE FROM vote_option WHERE vote_option_id IN
			
			<foreach collection="voteOptionList" item="item" index="index" separator="," open="(" close=")">
				#{item.voteOptionId}
			</foreach>
		
		</delete>
		
		<select id="selectVoteOptions" resultType="voteDto">
			
			SELECT vote_option_id as voteOptionId, vote_id as voteId, `option`, `count` FROM vote_option WHERE vote_id = #{voteId}
		
		</select>
		
		<select id="selectVoteOption" resultType="voteDto">
		
			SELECT vote_option_id as voteOptionId, vote_id as voteId, `option`, `count` FROM vote_option WHERE vote_option_id = #{voteOptionId}
		
		</select>
		
		<select id="selectVoteByCommunityId" resultType="voteDto">
		
			SELECT vote_id as voteId, community_id as communityId, `title`, `comment` FROM vote WHERE community_id = #{communityId}
			
		</select>
		
		<select id="selectVote" resultType="voteDto">
		
			SELECT vote_id as voteId, community_id as communityId, `title`, `comment` FROM vote WHERE vote_id = #{voteId}
			
		</select>
		
	</mapper>