<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
    	<typeAlias type="dto.User" alias="userDto"/>
    	<typeAlias type="dto.Video" alias="videoDto"/>
    	<typeAlias type="dto.Channel" alias="channelDto"/>
    	<typeAlias type="dto.Subscribers" alias="subscribersDto"/>
    	<typeAlias type="dto.Community" alias="communityDto"/>
    	<typeAlias type="dto.Reply" alias="replyDto"/>
    	<typeAlias type="dto.NestedReply" alias="nestedReplyDto"/>
    	<typeAlias type="dto.Playlist" alias="playlistDto"/>
    </typeAliases>
</configuration>
