<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="mapper.CommunityMapper">
	
		<insert id="insert" statementType="CALLABLE" parameterType="map">
			CALL insert_community(
				#{community.channelId},
				#{community.image_url},
				#{community.comment},
				#{community.date}
			)
		</insert>
		
		<update id="update" parameterType="map">
			UPDATE community
			
			<set>
				<if test='!oldCommunity.imageUrl.equals(newCommunity.imageUrl)'>image_url = #{newCommunity.imageUrl}, </if>
				<if test='!oldCommunity.comment.equals(newCommunity.comment)'>`comment` = #{newCommunity.comment}, </if>
			</set>
			
			WHERE community_id = #{oldCommunity.communityId}
		</update>
		
		<select id="selectByChannel" resultType="communityDto">
		
			SELECT community_id, contents_id, channel_id, `like`, hate, reply_count, image_url, `comment`, `date` 
			FROM community NATURAL JOIN contents WHERE channel_id = #{channelId};
		
		</select>
		
	</mapper>