<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="mapper.CommunityMapper">
	
		<insert id="insert" statementType="CALLABLE" parameterType="map">
			CALL insert_community(
				#{community.channelId},
				#{community.image_url},
				#{community.comment},
				#{community.date}
			)
		</insert>
		
		<update id="update" parameterType="map">
			UPDATE community
			
			<set>
				<if test='!oldCommunity.imageUrl.equals(newCommunity.imageUrl)'>image_url = #{newCommunity.imageUrl}, </if>
				<if test='!oldCommunity.comment.equals(newCommunity.comment)'>`comment` = #{newCommunity.comment}, </if>
			</set>
			
			WHERE community_id = #{oldCommunity.communityId}
		</update>
		
		<update id="updateLike">
		
			UPDATE community SET 'like' = 'like' + #{value} WHERE community_id = #{communityId}
		
		</update>
		
		<update id="updateHate">
		
			UPDATE community SET hate = hate + #{value} WHERE community_id = #{communityId}
		
		</update>
		
		<update id="updateReplyCount">
		
			UPDATE community SET reply_count = reply_count + #{value} WHERE community_id = #{communityId}
		
		</update>
		
		<select id="selectByChannel" resultType="communityDto">
		
			SELECT * FROM community WHERE channel_id = #{channelId};
		
		</select>
		
	</mapper>