<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="mapper.ReplyMapper">
	
		<insert id="insert" statementType="CALLABLE" parameterType="map">
			CALL insert_reply(
				#{reply.attachedId},
				#{reply.channelId},
				#{reply.comment},
				#{reply.date}
				#{type}
			)
		</insert>
		
		<update id="updateComment">
		
			UPDATE reply SET `comment` = #{comment} WHERE reply_id = #{replyId}
		
		</update>
		
		<update id="updateLike">
		
			UPDATE reply SET 'like' = 'like' + #{value} WHERE reply_id = #{replyId}
		
		</update>
		
		<update id="updateHate">
		
			UPDATE reply SET hate = hate + #{value} WHERE reply_id = #{replyId}
		
		</update>
		
		<update id="updateNestedCount">
		
			UPDATE reply SET nested_count = nested_count + #{value} WHERE reply_id = #{replyId}
		
		</update>
		
		<select id="selectByContentsId" resultType="replyDto">
		
			SELECT reply_id, contents_id, attached_id, channel_id, `comment`, `like`, 
			hate, `date`, nested_count, `name`, `profile` FROM reply
			NATURAL JOIN CHANNEL 
			WHERE attached_id = #{contentsId};
		
		</select>

	</mapper>